backend/**/bin/
backend/**/obj/
*.user
*.rsuser
*.suo
appsettings.Development.json
backend/**/appsettings.Development.json
**/appsettings.Development.json


.DS_Store
.vscode/
.idea/

*.log


DEPLOY_RENDER.md
